data/xml/Schemas/2004/06/01/Q3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Henrik Gørup Rasmussen (Acure) -->
<xs:schema targetNamespace="http://rep.oio.dk/medcom.dk/xml/schemas/2004/06/01/" xmlns="http://rep.oio.dk/medcom.dk/xml/schemas/2004/06/01/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="GeneralElements.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>
	<xs:include schemaLocation="LetterType.xsd"/>
	<xs:include schemaLocation="Sender.xsd"/>
	<xs:include schemaLocation="Receiver.xsd"/>
	<xs:include schemaLocation="CCReceiver.xsd"/>
	<xs:include schemaLocation="Patient.xsd"/>
	<xs:include schemaLocation="Relative.xsd"/>
	<xs:include schemaLocation="Referral.xsd"/>
	<xs:include schemaLocation="ValueLists.xsd"/>
	<xs:include schemaLocation="Payer.xsd"/>
	<xs:include schemaLocation="Collector.xsd"/>
	<xs:element name="PathologyRequest" type="PathologyRequestType">
		<xs:annotation>
			<xs:documentation>Patologirekvisition</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PathologyRequestType">
		<xs:annotation>
			<xs:documentation>Definition af en patologirekvisition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Letter" type="PathologyRequestLetterType">
				<xs:annotation>
					<xs:documentation>Kan betragtes som et Letter element, som blot begrænses til VersionCode=XQ0330P  og TypeCode=XREQ03</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender" type="PathologyRequestSenderType"/>
			<xs:element name="Receiver" type="PathologyRequestReceiverType"/>
			<xs:element name="CCReceiver" type="PathologyRequestCCReceiverType" minOccurs="0"/>
			<xs:element ref="Payer" minOccurs="0"/>
			<xs:element ref="Collector" minOccurs="0"/>
			<xs:element name="Patient" type="PathologyRequestPatientType"/>
			<xs:element name="Relative" type="PathologyRequestRelativeType" minOccurs="0"/>
			<xs:element name="RequisitionInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestersRequisitionIdentifier" type="String_1_15"/>
						<xs:element ref="RequisitionDateTime">
							<xs:annotation>
								<xs:documentation>RekvTid</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:element ref="SamplingLocationCode"/>
							<xs:element ref="SamplingDateTimeType"/>
							<xs:element ref="SamplingDateTime"/>
						</xs:sequence>
						<xs:element name="Sample" maxOccurs="99">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RequesterSampleIdentifier" type="String_1_15" minOccurs="0">
										<xs:annotation>
											<xs:documentation>(A,B,C,D,E)provnrRekvir</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaterialDescription" type="String_1_70"/>
									<xs:element name="MaterialPreTreatment">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="fikseret"/>
												<xs:enumeration value="frysesnit"/>
												<xs:enumeration value="ikke_fikseret"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="NumberOfTestTubes" type="xs:int">
							<xs:annotation>
								<xs:documentation>Antalglas</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClinicalInformation" type="BreakableText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>KlinInform</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CodedClinicalInformation" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IndicationCode" type="String_1_17">
										<xs:annotation>
											<xs:documentation>Grundkode</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IndicationText" type="String_1_70">
										<xs:annotation>
											<xs:documentation>Patekst</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Comments" type="BreakableText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>RekvKomm</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Requests">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestedAnalysis">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ResultPriority" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="straks"/>
												<xs:enumeration value="fremskyndet"/>
												<xs:enumeration value="rutine"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Analysis" type="PathologyAnalysisType"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="SupplementaryCervixInformations" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Condyloma" type="xs:boolean" minOccurs="0"/>
									<xs:element name="IUD" type="xs:boolean" minOccurs="0"/>
									<xs:element name="Pregnant" type="xs:boolean" minOccurs="0"/>
									<xs:element name="DateOfPeriod" type="xs:date" minOccurs="0"/>
									<xs:element name="HormonTherapy" type="String_1_70" minOccurs="0"/>
									<xs:element name="DateOfCryoTherapy" type="xs:date" minOccurs="0"/>
									<xs:element name="DateOfLaser" type="xs:date" minOccurs="0"/>
									<xs:element name="DateOfConisation" type="xs:date" minOccurs="0"/>
									<xs:element name="DateOfHysterectomi" type="xs:date" minOccurs="0"/>
									<xs:element name="DateOfIrradiation" type="xs:date" minOccurs="0"/>
									<xs:element name="DateOfChemoTherapy" type="xs:date" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestLetterType">
		<xs:annotation>
			<xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=XQ0330MP og TypeCode=XREQ03</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="String_1_14"/>
			<xs:element name="VersionCode">
				<xs:simpleType>
					<xs:restriction base="VersionCodeType">
						<xs:pattern value="XQ0330P"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatisticalCode" type="String_1_8"/>
			<xs:element name="Authorisation" type="DateTimeType"/>
			<xs:element name="TypeCode">
				<xs:simpleType>
					<xs:restriction base="TypeCodeType">
						<xs:pattern value="XREQ03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestSenderType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
			<xs:element ref="StreetName" minOccurs="0"/>
			<xs:element ref="SuburbName" minOccurs="0"/>
			<xs:element ref="DistrictName" minOccurs="0"/>
			<xs:element ref="PostCodeIdentifier" minOccurs="0"/>
			<xs:element ref="TelephoneSubscriberIdentifier" minOccurs="0"/>
			<xs:element ref="MedicalSpecialityCode"/>
			<xs:element name="Physician" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInitials" type="String_1_17"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestReceiverType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName" minOccurs="0"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestCCReceiverType">
		<xs:sequence>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestPatientType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CivilRegistrationNumber"/>
				<xs:element ref="AlternativeIdentifier"/>
			</xs:choice>
			<xs:element ref="PersonSurnameName"/>
			<xs:element ref="PersonGivenName" minOccurs="0"/>
			<xs:element ref="StreetName" minOccurs="0"/>
			<xs:element ref="SuburbName" minOccurs="0"/>
			<xs:element ref="DistrictName" minOccurs="0"/>
			<xs:element ref="PostCodeIdentifier" minOccurs="0"/>
			<xs:element name="Consent" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Given" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestRelativeType">
		<xs:sequence>
			<xs:element name="RelationCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mor"/>
						<xs:enumeration value="far"/>
						<xs:enumeration value="vaerge"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="PersonIdentifier" minOccurs="0"/>
			<xs:element ref="PersonSurnameName"/>
			<xs:element ref="PersonGivenName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
