data/xml/Schemas/2014/10/08/PathologyRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://rep.oio.dk/medcom.dk/xml/schemas/2014/10/08/" xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://rep.oio.dk/medcom.dk/xml/schemas/2014/10/08/" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation="GeneralElements.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>
	<xs:include schemaLocation="LetterType.xsd"/>
	<xs:include schemaLocation="Sender.xsd"/>
	<xs:include schemaLocation="Receiver.xsd"/>
	<xs:include schemaLocation="CCReceiver.xsd"/>
	<xs:include schemaLocation="Patient.xsd"/>
	<xs:include schemaLocation="Relative.xsd"/>
	<xs:include schemaLocation="Referral.xsd"/>
	<xs:include schemaLocation="ValueLists.xsd"/>
	<xs:include schemaLocation="Payer.xsd"/>
	<xs:include schemaLocation="Collector.xsd"/>
	<xs:element name="PathologyRequest" type="PathologyRequestType">
		<xs:annotation>
			<xs:documentation>Patologirekvisition</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="PathologyRequestType">
		<xs:annotation>
			<xs:documentation>Definition af en patologirekvisition</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Letter" type="PathologyRequestLetterType">
				<xs:annotation>
					<xs:documentation>Kan betragtes som et Letter element, som blot begrænses til VersionCode=XQ0331P  og TypeCode=XREQ03</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sender" type="PathologyRequestSenderType"/>
			<xs:element name="OriginalRequester" type="PathologyRequestOriginalRequesterType" minOccurs="0"/>
			<xs:element name="Receiver" type="PathologyRequestReceiverType"/>
			<xs:element name="CCReceiver" type="PathologyRequestCCReceiverType" minOccurs="0"/>
			<xs:element ref="Payer" minOccurs="0"/>
			<xs:element ref="Collector" minOccurs="0"/>
			<xs:element name="Patient" type="PathologyRequestPatientType"/>
			<xs:element name="Relative" type="PathologyRequestRelativeType" minOccurs="0"/>
			<xs:element name="RequisitionInformation">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestersRequisitionIdentifier" type="String_1_15"/>
						<xs:element name="SampleIdentifierType" minOccurs="0" type="SampleIdentifierTypeType">
							<xs:annotation>
								<xs:documentation>NPN rekvisitionsnummer</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element ref="RequisitionDateTime">
							<xs:annotation>
								<xs:documentation>RekvTid</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:sequence>
							<xs:element ref="SamplingLocationCode"/>
							<xs:element ref="SamplingDateTimeType"/>
							<xs:element ref="SamplingDateTime"/>
						</xs:sequence>
						<xs:element name="Sample" maxOccurs="99">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="RequesterSampleIdentifier" type="String_1_15" minOccurs="0">
										<xs:annotation>
											<xs:documentation>(A,B,C,D,E)provnrRekvir</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SampleIdentifierType" minOccurs="0" type="SampleIdentifierTypeType">
										<xs:annotation>
											<xs:documentation>NPN prøvenummer</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="MaterialDescription" type="String_1_210"/>
									<xs:element name="MaterialPreTreatment" maxOccurs="2" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="fikseret"/>
												<xs:enumeration value="frysesnit"/>
												<xs:enumeration value="ikke_fikseret"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="MaterialTreatment" type="String_1_17" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Prøvetype</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="NumberOfTestTubes" type="xs:int">
							<xs:annotation>
								<xs:documentation>Antalglas</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ClinicalInformation" type="BreakableText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>KlinInform</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CodedClinicalInformation" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="IndicationCode" type="String_1_17">
										<xs:annotation>
											<xs:documentation>Grundkode</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IndicationText" type="String_1_70">
										<xs:annotation>
											<xs:documentation>Patekst</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Comments" type="BreakableText" minOccurs="0">
							<xs:annotation>
								<xs:documentation>RekvKomm</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CarbonCopyReceiver" type="String_1_70" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Requests">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestedAnalysis">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ResultPriority" minOccurs="0">
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="straks"/>
												<xs:enumeration value="fremskyndet"/>
												<xs:enumeration value="rutine"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="Analysis" type="PathologyAnalysisType"/>
									<xs:element name="AnswerAtLatestDateTime" type="DateTimeType" minOccurs="0"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="Prompt" minOccurs="0" maxOccurs="20">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Question">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Code" type="String_1_17"/>
												<xs:element name="CodeType">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="lokal"/>
															<xs:enumeration value="PA8"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="CodeResponsible" type="String_1_3"/>
												<xs:element name="CodeText" type="String_1_35"/>
												<xs:element name="Relation" minOccurs="0">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AnalysisCode" type="String_1_17" minOccurs="0"/>
															<xs:element name="SampleIdentifier" type="String_1_15" minOccurs="0"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Answer">
										<xs:complexType>
											<xs:choice>
												<xs:element name="Text" type="String_1_70"/>
												<xs:element name="Numerical">
													<xs:simpleType>
														<xs:restriction base="xs:decimal">
															<xs:totalDigits value="17"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
												<xs:element name="DiagnoseCode" type="String_1_17"/>
												<xs:element name="DateTime" type="DateTimeType"/>
												<xs:element name="Logical" type="xs:boolean"/>
											</xs:choice>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestLetterType">
		<xs:annotation>
			<xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=XQ0331P og TypeCode=XREQ03</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Identifier" type="String_1_14"/>
			<xs:element name="VersionCode">
				<xs:simpleType>
					<xs:restriction base="VersionCodeType">
						<xs:pattern value="XQ0331P"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StatisticalCode" type="String_1_8"/>
			<xs:element name="Authorisation" type="DateTimeType"/>
			<xs:element name="TypeCode">
				<xs:simpleType>
					<xs:restriction base="TypeCodeType">
						<xs:pattern value="XREQ03"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestSenderType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
			<xs:element ref="StreetName" minOccurs="0"/>
			<xs:element ref="SuburbName" minOccurs="0"/>
			<xs:element ref="DistrictName" minOccurs="0"/>
			<xs:element ref="PostCodeIdentifier" minOccurs="0"/>
			<xs:element ref="TelephoneSubscriberIdentifier" minOccurs="0"/>
			<xs:element ref="MedicalSpecialityCode"/>
			<xs:element name="Physician" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PersonInitials" type="String_1_17"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestOriginalRequesterType">
		<xs:sequence>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
			<xs:element ref="StreetName" minOccurs="0"/>
			<xs:element ref="SuburbName" minOccurs="0"/>
			<xs:element ref="DistrictName" minOccurs="0"/>
			<xs:element ref="PostCodeIdentifier" minOccurs="0"/>
			<xs:element name="ReplyTo" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>True, der besvares til OriginalRequester. False, der besvares til Sender.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestReceiverType">
		<xs:sequence>
			<xs:element ref="EANIdentifier"/>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName" minOccurs="0"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestCCReceiverType">
		<xs:sequence>
			<xs:element ref="Identifier"/>
			<xs:element ref="IdentifierCode"/>
			<xs:element ref="OrganisationName"/>
			<xs:element ref="DepartmentName" minOccurs="0"/>
			<xs:element ref="UnitName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestPatientType">
		<xs:sequence>
			<xs:choice>
				<xs:element ref="CivilRegistrationNumber"/>
				<xs:element ref="AlternativeIdentifier"/>
			</xs:choice>
			<xs:element ref="PersonSurnameName"/>
			<xs:element ref="PersonGivenName" minOccurs="0"/>
			<xs:element ref="StreetName" minOccurs="0"/>
			<xs:element ref="SuburbName" minOccurs="0"/>
			<xs:element ref="DistrictName" minOccurs="0"/>
			<xs:element ref="PostCodeIdentifier" minOccurs="0"/>
			<xs:element ref="TelephoneSubscriberIdentifier" minOccurs="0"/>
			<xs:element name="Consent" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Given" type="xs:boolean"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PathologyRequestRelativeType">
		<xs:sequence>
			<xs:element name="RelationCode">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="mor"/>
						<xs:enumeration value="far"/>
						<xs:enumeration value="vaerge"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element ref="PersonIdentifier" minOccurs="0"/>
			<xs:element ref="PersonSurnameName"/>
			<xs:element ref="PersonGivenName" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SampleIdentifierTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nationaltproevenummer"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
