data/xml/Schemas/2005/08/07/MicrobiologyReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dkcc="http://rep.oio.dk/ebxml/xml/schemas/dkcc/2003/02/13/" xmlns:cpr="http://rep.oio.dk/cpr.dk/xml/schemas/core/2002/06/28/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2005/08/07/" targetNamespace="http://rep.oio.dk/sundcom.dk/medcom.dk/xml/schemas/2005/08/07/" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:include schemaLocation="GeneralElements.xsd"/>
  <xs:include schemaLocation="Reference.xsd"/>
  <xs:include schemaLocation="LetterType.xsd"/>
  <xs:include schemaLocation="Sender.xsd"/>
  <xs:include schemaLocation="Receiver.xsd"/>
  <xs:include schemaLocation="CCReceiver.xsd"/>
  <xs:include schemaLocation="Patient.xsd"/>
  <xs:include schemaLocation="Relative.xsd"/>
  <xs:include schemaLocation="Referral.xsd"/>
  <xs:include schemaLocation="ValueLists.xsd"/>
  <xs:element name="MicrobiologyReport" type="MicrobiologyReportType">
    <xs:annotation>
      <xs:documentation>Mikrobiologisvar</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="MicrobiologyReportType">
    <xs:annotation>
      <xs:documentation>Definition af en mikrobiologisvar</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Letter" type="MicrobiologyReportLetterType">
        <xs:annotation>
          <xs:documentation>Kan betragtes som et Letter element, som blot begrænses til VersionCode=XR0230M  og TypeCode=XRPT02</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sender" type="MicrobiologyReportSenderType"/>
      <xs:element name="Receiver" type="MicrobiologyReportReceiverType"/>
      <xs:element name="CCReceiver" type="MicrobiologyReportCCReceiverType" minOccurs="0"/>
      <xs:element name="Patient" type="MicrobiologyReportPatientType"/>
      <xs:element name="RequisitionInformation">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ClinicalInformation" type="BreakableText" minOccurs="0"/>
            <xs:element name="Comments" type="BreakableText" minOccurs="0">
              <xs:annotation>
                <xs:documentation>RekvKomm</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Sample">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LaboratoryInternalSampleIdentifier" type="String_1_20">
                    <xs:annotation>
                      <xs:documentation>RekvNrLab</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="RequesterSampleIdentifier" type="String_1_15" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>RekvNrLaege</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="SamplingDateTime" type="DateTimeType">
                    <xs:annotation>
                      <xs:documentation>RekvTidLaege</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="SampleReceivedDateTime" type="DateTimeType">
                    <xs:annotation>
                      <xs:documentation>RekvModtLab</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LaboratoryResults">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="GeneralResultInformation">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="LaboratoryInternalProductionIdentifier" type="String_1_20">
                    <xs:annotation>
                      <xs:documentation>LabprodProvnr</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ResultsDateTime" type="DateTimeType">
                    <xs:annotation>
                      <xs:documentation>SvarTid</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Headline" type="String_1_35" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>OE+Kommentar</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Comment" type="BreakableText" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>OE+Kommentar FTX</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ResultStatus">
                    <xs:annotation>
                      <xs:documentation>STATUS</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="komplet"/>
                        <xs:enumeration value="delvis"/>
                        <xs:enumeration value="modtaget"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="Result" maxOccurs="5">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="ResultStatusCode">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="proeve_modtaget"/>
                        <xs:enumeration value="svar_midlertidigt"/>
                        <xs:enumeration value="svar_endeligt"/>
                        <xs:enumeration value="svar_rettet"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Analysis">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ExaminationTypeCode">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:enumeration value="maalemetode"/>
                              <xs:enumeration value="maaleprocedure"/>
                              <xs:enumeration value="maalbar_kvantitet"/>
                              <xs:enumeration value="overskrift"/>
                              <xs:enumeration value="observerbar_egenskab"/>
                              <xs:enumeration value="antibiotika_sammensaetning"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:element>
                        <xs:element ref="MICAnalysisCode"/>
                        <xs:element ref="AnalysisCodeType">
                          <xs:annotation>
                            <xs:documentation>KODETABEL</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element ref="AnalysisCodeResponsible">
                          <xs:annotation>
                            <xs:documentation>LabOrg</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element ref="AnalysisShortName" minOccurs="0">
                          <xs:annotation>
                            <xs:documentation>KortNavn</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element ref="AnalysisMDSName">
                          <xs:annotation>
                            <xs:documentation>Undersoegelsesnavn:Materiale:Lokalisation</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ProducerOfLabResult" type="String_1_35" minOccurs="0"/>
                  <xs:element name="ReferenceInterval" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>SG20</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:sequence minOccurs="0">
                          <xs:element name="TypeOfInterval">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="fysiologisk"/>
                                <xs:enumeration value="terapeutisk"/>
                                <xs:enumeration value="uspecificeret"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                          <xs:element name="LowerLimit" type="String_1_12" minOccurs="0"/>
                          <xs:element name="UpperLimit" type="String_1_12" minOccurs="0"/>
                        </xs:sequence>
                        <xs:element name="IntervalText" type="String_1_70" minOccurs="0"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="ResultType">
                    <xs:annotation>
                      <xs:documentation>AV</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="alfanumerisk"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Operator" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>STOREND</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="mindre_end"/>
                        <xs:enumeration value="stoerre_end"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="Value" type="String_1_12">
                    <xs:annotation>
                      <xs:documentation>Resultat</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Unit" type="String_1_16" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Enhed</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="ResultValidation" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>ABNORM</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="for_hoej"/>
                        <xs:enumeration value="for_lav"/>
                        <xs:enumeration value="unormal"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element name="ResultComments" type="BreakableText" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>AnalyseKomm</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element ref="Reference" minOccurs="0" maxOccurs="10"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="MicroscopicFindings" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Headline" type="String_1_35">
                    <xs:annotation>
                      <xs:documentation>Mikroskopifund</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Comments" type="BreakableText">
                    <xs:annotation>
                      <xs:documentation>Svartekst</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="CultureWithoutFindings" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Headline" type="String_1_35">
                    <xs:annotation>
                      <xs:documentation>Dyrkning</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Comments" type="BreakableText">
                    <xs:annotation>
                      <xs:documentation>Svartekst</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="CultureWithFindings" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Headline" type="String_1_35">
                    <xs:annotation>
                      <xs:documentation>Dyrkning med fund</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Microorganism" maxOccurs="8">
                    <xs:annotation>
                      <xs:documentation>(Kolonner i Pattern hvis medsendt)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ATCCCode" type="String_1_17" minOccurs="0"/>
                        <xs:element name="ATCCCodeResponsible" type="String_1_3" minOccurs="0"/>
                        <xs:element name="Name" type="String_1_35">
                          <xs:annotation>
                            <xs:documentation>Baktnavn1</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="GrowthValue" type="String_1_70">
                          <xs:annotation>
                            <xs:documentation>Vaekstgradtekst</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="SpeciesComment" type="String_1_70" minOccurs="0">
                          <xs:annotation>
                            <xs:documentation>Multiresistent</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="Comments" type="BreakableText" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>Kommtekstfund</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="Pattern" minOccurs="0">
                    <xs:annotation>
                      <xs:documentation>(resistensmønster)</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Headline" type="String_1_35">
                          <xs:annotation>
                            <xs:documentation>Antibiotikafølsomhed</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                        <xs:element name="Antibiotic" maxOccurs="80">
                          <xs:annotation>
                            <xs:documentation>(Rækker i Pattern)</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="ATCCode" minOccurs="0"/>
                              <xs:element ref="ATCCodeResponsible" minOccurs="0"/>
                              <xs:element name="Name" type="String_1_35">
                                <xs:annotation>
                                  <xs:documentation>AntibiotikaNavn</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="PatternEntry" maxOccurs="80">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="RefMicroorganism">
                                <xs:annotation>
                                  <xs:documentation>(KolonneNr.)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="8"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="RefAntibiotic">
                                <xs:annotation>
                                  <xs:documentation>(RækkeNr.)</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                  <xs:restriction base="xs:int">
                                    <xs:minInclusive value="1"/>
                                    <xs:maxInclusive value="20"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:element>
                              <xs:element name="Sensitivity" type="String_1_8">
                                <xs:annotation>
                                  <xs:documentation>Resistenskode</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="SensitivityInterpretation" type="BreakableText">
                          <xs:annotation>
                            <xs:documentation>Følsomhed</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyReportLetterType">
    <xs:annotation>
      <xs:documentation>Kan betragtes som en LetterType, som blot begrænses til VersionCode=XR0230M  og TypeCode=XRPT02</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Identifier" type="String_1_14"/>
      <xs:element name="VersionCode">
        <xs:simpleType>
          <xs:restriction base="VersionCodeType">
            <xs:pattern value="XR0230M"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="StatisticalCode" type="String_1_8"/>
      <xs:element name="Authorisation" type="DateTimeType"/>
      <xs:element name="TypeCode">
        <xs:simpleType>
          <xs:restriction base="TypeCodeType">
            <xs:pattern value="XRPT02"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyReportSenderType">
    <xs:sequence>
      <xs:element ref="EANIdentifier"/>
      <xs:element ref="Identifier"/>
      <xs:element ref="IdentifierCode"/>
      <xs:element ref="OrganisationName"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
      <xs:element ref="MedicalSpecialityCode"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyReportReceiverType">
    <xs:sequence>
      <xs:element ref="EANIdentifier"/>
      <xs:element ref="Identifier"/>
      <xs:element ref="IdentifierCode"/>
      <xs:element ref="OrganisationName" minOccurs="0"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
      <xs:element ref="StreetName" minOccurs="0"/>
      <xs:element ref="SuburbName" minOccurs="0"/>
      <xs:element ref="DistrictName" minOccurs="0"/>
      <xs:element ref="PostCodeIdentifier" minOccurs="0"/>
      <xs:element name="Physician" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PersonInitials" type="String_1_17"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyReportCCReceiverType">
    <xs:sequence>
      <xs:element ref="Identifier"/>
      <xs:element ref="IdentifierCode"/>
      <xs:element ref="OrganisationName" minOccurs="0"/>
      <xs:element ref="DepartmentName" minOccurs="0"/>
      <xs:element ref="UnitName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MicrobiologyReportPatientType">
    <xs:sequence>
      <xs:choice>
        <xs:element ref="CivilRegistrationNumber"/>
        <xs:element ref="AlternativeIdentifier"/>
      </xs:choice>
      <xs:element ref="PersonSurnameName"/>
      <xs:element ref="PersonGivenName" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ATCCodeResponsible" type="String_1_3">
    <xs:annotation>
      <xs:documentation>Konverteres ikke til edifact</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ATCCode" type="String_1_17">
    <xs:annotation>
      <xs:documentation>Konverteres ikke til edifact</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
